* {
    font-family: 'Montserrat', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/paisagem2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
form {
    width: 300px;
    padding: 40px 15px;
    border-radius: 20px;
    background-color: #20202081;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label {
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
}
input {
    border: none;
    outline: none;
    border-radius: 2px;
}
.btn {
    padding: 8px;
    border-radius: 8px;
    font-size: 15px;
    background-color: #fff;
    cursor: pointer;
}